<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Blog</title>

	<style>
	.flex-container {
	  display: flex;
	  background-color: DodgerBlue;
	}

	.flex-container>div {
	  background-color: #f1f1f1;
	  margin: 10px;
	  padding:20px;
	  font-size: 30px;
	}
	</style>

	<link rel="stylesheet" href="stylesheets/foundation.css">

</head>

<body>

	<div class="grid-x">
	  <div class="small-6 cell large-6">

			<h2>FACE HERE </h2>


			  <img src="images/fugu.png">

		</div>

	  <div class="small-6 cell large-6">

			<h2>POSTS HERE</h2>

			<a href="/write">Write</a>

			<% for(var i=0; i < posts.length; i++) { %>

				<% var raw_date = posts[i].timestamp; %>
				<% var month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][raw_date.getMonth()]; %>
				<% var post_date = raw_date.getDay() + ' ' + month + ' ' + raw_date.getFullYear(); %>

				<div>

					<p> <%= post_date %> </p>
					<h1> <b> <%= posts[i].title%> </b> </h1>
					<p> <%=posts[i].content%> </p>
					<br> </br>
				</div>

			<% } %>

		</div>
	</div>
</body>
</html>
